# Ignorar arquivos temporários
*.log
*.tmp

# Ignorar pastas
node_modules/
dist/
# Ignorando arquivos de teste específicos
cypress/e2e/Login/Teste.cy.js
cypress/e2e/Login/Teste_Api.cy.js
cypress/e2e/Login/demo.cy.js
cypress/e2e/Login/saucedemo.cy.js